@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="KategoriEkle" class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD" />
        <div style="margin-top:15px">
            <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
        </div>
    </div>
    
</form>



