@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLPERSONEL>
@{
    ViewBag.Title = "PersonelListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personeller</h2>
@using (Html.BeginForm("PersonelListesi", "Personel", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        <b>Kitap ara:</b> @Html.TextBox("search")
        <input type="submit" value="Ara" />

    </div>
}

<table class="table table-bordered">
    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.PERSONELID</td>
            <td>@prs.PERSONEL</td>
            <th><a href="/Personel/PersonelSil/@prs.PERSONELID" class="btn btn-danger">Sil</a></th>
            <th><a href="/Personel/PersonelGetir/@prs.PERSONELID" class="btn btn-success">Güncelle</a></th>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>

